@charset "UTF-8";
/*@font-face {*/
    /*font-family: "微软雅黑";*/
    /*src: url('../../lib/fonts/ufonts.com_phosphatesolid.eot?') format('eot');!*IE*!*/
    /*src:url('../../lib/fonts/ufonts.com_phosphatesolid.ttf') format('truetype');!*non-IE*!*/
/*}*/
body {
    font-family: "微软雅黑";
    min-width: 1024px;
    background-color: #f9f9f9;
}

/*-----导航条样式*-----*/
.xx-topbar-math {
    height: 80px;
    background-image: -moz-linear-gradient(left, #8FD38B, #3FC195);
    background-image: -ms-linear-gradient(left, #8FD38B, #3FC195);
    background-image: -o-linear-gradient(left, #8FD38B, #3FC195);
    background-image: -webkit-gradient(linear, left top, right top, from(#8FD38B), to(#3FC195));
    background-image: -webkit-linear-gradient(left, #8FD38B, #3FC195);
    background-image: linear-gradient(left, #8FD38B, #3FC195);
}

/*-----导航条--标签样式-----*/
.xx-logo-badge {
    background-image: url("../img/icon_shuqian.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 40px;
    margin-left: 20px;
    float: left;
}

.xx-logo-badge p.xx-badge-title {
    font-size: 14px;
    color: #ffffff;
    font-family: "微软雅黑";
    text-align: center;
    padding-top: 6px;
    margin-bottom: 0px;
}

.xx-logo-badge p.xx-badge-title-num {
    background-color: #FFFFFF;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
    color: #26b987;
}

/*-----导航条--专题样式-----*/
.xx-subject {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    float: left;
    margin-left: 20px;
    line-height: 80px;
}

/*-----导航条--模块样式-----*/
.xx-topbar-math .am-topbar-brand {
    background-image: url(../img/logo.png) !important;
    width: 55px !important;
    height: 55px !important;
    background-size: 100%;
    position: relative;
    top: 10px;
}
.xx-topbar-math .am-topbar-brand a {
    width: 55px !important;
    height: 55px !important;
    display: block;
    position: relative;
    /*left: 40px;*/
}
.xx-subject-module {
    background: #26b987;
    border-radius: 16px;
    margin-top: 26px;
    height: 28px;
    float: left;
    padding: 0;
    margin-left: 40px;
}

.xx-subject-module li {
    float: left;
    width: 106px;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    list-style: none;
}

.xx-subject-module li.learned {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #9cdf97;
    text-align: center;
}

.xx-subject-module li.learned span {

}

.xx-subject-module li.active {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.xx-subject-module li.active span {
    font-size: 14px;
    color: #26b987;
    background: #ffffff;
    width: 16px;
    height: 16px;
    /*padding: 0px 5px;*/
    display: inline-block;
    line-height: 16px;
    border-radius: 100%;
    text-align: center;
}

.xx-subject-module li.unlearned {
    background: #9cdf97;
    color: #26b987;
}
.xx-feedback{
    position: fixed;
    left:0;
    bottom:20px;
    background:#cfeecc;
    border:1px solid #6acea7;
    border-top-right-radius: 37px;
    border-bottom-right-radius:37px ;
    width:51px;
    height:36px;
    line-height: 36px;
    font-family:MicrosoftYaHei;
    font-size:16px;
    color:#26b987;
    letter-spacing:0px;
    text-align:center;
    cursor: pointer;
}

/*----答题模块---*/
.xx-container {
    background: #ffffff;
    border: 1px solid #6acea7;
    border-radius: 6px;
    min-height: 426px;
    margin-top: 60px;
    margin-left: 60px;
    max-width: none;
    padding: 60px;
    position: relative;
    font-size: 18px !important;
}
.xx-container.xx-study-container{
    background: #ffffff;
    font-size: 18px !important;
    border: 1px solid #6acea7;
    border-radius: 6px;
    min-height: 426px;
    margin-top: 60px;
    margin-left: 60px;
    max-width: none;
    width: 60%;
    float: left;
    padding: 60px;
    position: relative;
}
.xx-question-num {
    background-color: #98da8d;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 25px;
    /*top: 68px;*/
    top:30px;
    font-family:"微软雅黑";
    line-height: 28px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
#textarea{
    border:1px solid #f0f0f0;
    border-radius:6px;
    /*width:146px;*/
    /*height:38px;*/
}
/*----题目解析-----*/
.xx-container .xx-question-analyse {
    background: #fcfcfc;
    border: 1px solid #6acea7;
    border-radius: 6px;
    /*min-height: 277px;*/
    position: relative;
    margin: 100px -30px 0px -30px;
}

.xx-container .xx-question-analyse .xx-question-analyse-close {
    background-image: url("../img/icon_delete.png");
    width: 38px;
    height: 38px;
    background-size: 100%;
    position: absolute;
    cursor: pointer;
    right: -19px;
    top: -19px;
}

.xx-container .xx-question-analyse .xx-question-analyse-badge {
    background: #51d6a3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 120px;
    height: 24px;
    margin-top: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    padding-right: 20px;
}

.xx-container .xx-question-analyse ul.xx-analyse-step-group li {
    list-style: none;
}

.xx-container .xx-question-analyse .xx-analyse-step-group .xx-analyse-step .xx-step-name {
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: bold;
    color: #26b987;
    letter-spacing: 0px;
    text-align: left;
}
.question-sheet p,.question-sheet .input-p{
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
.question-sheet span.q_type{
    font-size: 16px !important;
    font-family: "Microsoft YaHei" !important;
    position: absolute;
    top: 30px;
    color:#26B987;
}
.question-sheet span.question-id{
    font-family: "Microsoft YaHei" !important;
    position: absolute;
    top: 30px;
    left:160px;
    color:#ccc;
}
.xx-container .xx-question-analyse .xx-analyse-step-group .xx-analyse-step .xx-step-title {
    /* -(3*2)[x^(2*6)]:*/;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #5f5f5f;
    letter-spacing: 0px;
    text-align: left;
    text-indent: 2em;
}
.xx-container .xx-question-analyse #optionButton{
    width:100%;
    height:50px;
}
.xx-container .xx-question-analyse .xx-analyse-next-step {
    background: #9cdf97;
    border-radius: 18px;
    width: 120px;
    height: 36px;
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 20px;*/
    font-family: "微软雅黑";
    font-size: 16px;
    color: #ffffff;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    float: right;
    margin-right: 50px;
}

/*-------知识点轮播弹框-------*/
.am-modal.am-modal-no-btn .xx-k-carousel-content {
    width: 810px;
    height: 487px;
    background: url("../img/wrongboard.png") no-repeat;
    /*background-size: 100%;*/
}

.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-module {
    background-image: url("../img/gxtitle.png");
    width: 339px;
    height: 94px;
    position: relative;
    left: 196px;
    top: -84px;
}
.xx-xq-carousel-module {
    background-image: url("../img/btest.png");
    width: 339px;
    height: 94px;
    position: relative;
    left: 196px;
    top: -164px;
}
.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-title {
    background-image: url("../img/white_board_01.png");
    width: 420px;
    height: 94px;
    position: relative;
    left: 196px;
    top: -84px;
    padding: 18px;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-title p {
    font-family: "微软雅黑";
    font-size: 20px;
    color: #926944;
    line-height: 16px;
    text-align: center;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-title .xx-k-carousel-title-h2 {
    height: 40px;
    margin-top: 30px;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-title .xx-k-carousel-title-h2 .xx-k-carousel-title-h2bg {
    width: 360px;
    height: 27px;
    background-image: url("../img/gantanhao.png");
    position: relative;
    z-index: 999;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content .xx-k-carousel-title .xx-k-carousel-title-h2 .xx-k-carousel-title-h2bd {
    background: #b7906e;
    border-radius: 18px;
    width: 360px;
    height: 36px;
    margin-top: -13px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content-close {
    background-image: url("../img/icon_delete.png");
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.am-modal.am-modal-no-btn .xx-k-carousel-content-return {
    background-image: url("../img/icon_back.png");
    width: 47px;
    height: 47px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* 轮播 */
.xx-slider-content {
    background: #f9ebd6;
    border: 1px solid #b7906e;
    border-radius: 12px;
    width: 650px;
    height: 216px;
    margin: 0px auto 0 auto;
    position: relative;
    /*overflow: hidden;*/
}

.drama-poster,.drama-poster-sc {
    margin: 0 auto;
    padding: 0;
    width: 575px;
    /*overflow: hidden;*/
    position: relative
}
.drama-poster-sc{
    height:94px;
    margin-top: 23px;
}
.drama-poster-sc ul{
    min-width: 10000px;
    height:94px;
    padding: 0
}
.drama-poster ul {
    min-width: 10000px;
    height: 216px;
    padding: 0
}

.drama-poster li,.drama-poster-sc li {
    padding: 0 7px;
    margin-left: 11px;
    list-style: none;
    border: none;
}
.drama-poster-sc{
    margin-left: 43px;
    width: 605px;
}
.drama-poster-sc li{
    padding-left: 0;
}
.xx-k-carousel-content-sc .drama-slide li{
    top:110px;
}
.xx-k-carousel-content-sc .drama-slide-sc li{
    /*top:110px;*/
}
.drama-poster-sc li:first-child{
    margin-left: 0;
}
.drama-poster .show-poster-3 {
    float: left;
    height: 216px;
}
.drama-poster .show-poster-3 .img {
    display: block;
    opacity: 0.4;
    background:#e5c9a3;
    border-radius: 12px;
    width: 272px;
    height: 158px;
    margin-top: 8px;
}

.drama-poster .show-poster-3 .img img {
    background: #000000;
    border-radius: 6px;
    width: 260px;
    height: 146px;
    margin-top: 6px;
}
.drama-poster .show-poster-3.active .img{
    background:#b7906e;
    border-radius:12px;
    width:272px;
    height:158px;
    filter:alpha(opacity=100); /* IE */
    -moz-opacity:1; /* 老版Mozilla */
    -khtml-opacity:1; /* 老版Safari */
    opacity: 1; /* 支持opacity的浏览器*/
}
.drama-poster .show-poster-3.active .img img{
}
.drama-poster .show-poster-3 .xx-k-video-select {
    background: #b7906e;
    border-radius: 18px;
    width: 140px;
    height: 30px;
    display: block;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-left: 60px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #f8eddf;
    text-align: center;
}

.drama-poster .show-poster-3 p {
    display: none;
    color: #999;
    line-height: 20px;
    position: absolute;
    width: 447px;
    height: 94px;
    left: 0;
    bottom: 2px;
    border-top: 1px dashed #ccc;
    z-index: 999;
    padding-top: 10px
}

.drama-poster .show-poster-3 p strong {
    color: #333;
    font-weight: normal;
    text-align: center;
}

.drama-poster li.current p {
    display: block
}
.drama-poster-sc .show-poster-3{
    background:#eeeeee;
    /*border:3px solid #dddddd;*/
    border-radius:10px;width:194px;height:100px;float: left;
    background-image: url("../img/show-poster.png");
}
.drama-slide li {
    position: absolute;
    top: 110px
}

.drama-slide li.prev {
    left: 0;
    background-image: url("../img/icon_preOne.png")
}

.drama-slide li.next {
    right: 0;
    background-image: url("../img/icon_nextOne.png")
}

.drama-slide li a {
    display: block;
    width: 16px;
    height: 30px;
    text-indent: -1000em
}

.drama-slide li.prev a {
    background-position: 0 -122px
}

.drama-slide li.prev a:hover {
    background-position: 0 -147px
}

.drama-slide li.next a {
    background-position: -13px -122px
}

.drama-slide li.next a:hover {
    background-position: -13px -147px
}
/*知识点轮播*/
.drama-poster-sc li{
    /*line-height: 94px;*/
}
.drama-poster li:first-child {
    margin-left: 0
}

.am-modal.am-modal-no-btn .xx-k-carousel-content.xx-k-carousel-content-sc {
    width: 810px;
    height: 381px;
    background: url("../img/wrongboard.png") no-repeat;
    /*background-size: 100%;*/
}
.am-modal.am-modal-no-btn .xx-k-carousel-content.xx-k-carousel-content-sc .xx-k-carousel-module,.am-modal.am-modal-no-btn .xx-k-carousel-contentxx-k-carousel-content-sc .xx-k-carousel-title{
    top:-184px;
}
.flowplayer {
    background: #d39191;
    border-radius: 6px;
    width: 700px;
    height: 409px;
}

.am-modal.am-modal-no-btn .xx-slider-button-next {
    background: #26b987;
    border-radius: 30px;
    width: 200px;
    height: 48px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0px;
    text-align: center;
    /*margin-top: 15px;*/
}

/*----菜单模块----*/
.xx-tab {
    float: right;
    top: 60px;
    right: 22px;
    position: relative;
    background: url("../img/studytab.png") no-repeat;
    width: 329px;
    height: 300px;
}

.xx-tab ul {
    padding-left: 92px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #926944;
    text-align: center;
    letter-spacing: 0px;
}

.xx-tab ul.xx_side_nav > li {
    list-style: none;
    /*width: 100%;*/
}

.xx-tab ul.xx_side_nav > li:first-child {
    /*height: 84px;*/
    /*width: 236px;*/
    /*padding: 17px 54px;*/
    position: absolute;
    left:140px;
    top: 20px;
}

.xx-tab ul.xx_side_nav > li:first-child p {
    position: relative;
    margin: 0;
    padding: 0;
}

.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video {
    /*width: 221px;*/
    /*height: 51px;*/
    /*line-height: 51px;*/
    /*margin-top: 22px;*/
    cursor: pointer;
    left:96px;
    top:106px;
    position: absolute;
    width:230px;
    height: 57px;
    line-height: 55px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video:hover{
    width:230px;
    height: 57px;
    background: url("../img/audioboard_hover.png") no-repeat;
    position: absolute;
    top:105px;
    z-index:6;
    color: #fff;
    /*transition: all 0.6s;*/
    /*-webkit-transition: all 0.6s;*/
}

.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video:hover a{
    color: #fff;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video:hover span{
    display: inline-block;
    width:18px;
    height: 18px;
    background: url(../img/icon_knowledgeAudio_02.png) no-repeat;
    position: relative;
    top:3px;
    /*margin-left: -38px;*/
}

.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video a {
    color: #926944;
}

.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video a:hover, .xx-tab ul.xx_side_nav > li.xx-bx-analyse-video a:focus {
    /*color: #926944;*/
    color:#fff;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse>a{
    display: inline-block;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #926944;
    letter-spacing: 0px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse>span{
    display: inline-block;
    width:18px;
    height: 18px;
    background: url(../img/icon_explane_01.png) no-repeat;
    position: relative;
    top:3px;
    margin-left: -38px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse-video>span{
    display: inline-block;
    width:18px;
    height: 18px;
    background: url(../img/icon_knowledgeAudio_01.png) no-repeat;
    position: relative;
    top:3px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse {
    width: 217px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    bottom: 75px;
    left: 97px;
    line-height: 55px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse:hover,.xx-tab ul.xx_side_nav > li.xx-bx-analyse:focus{
    position: absolute;
    width:217px;
    height:55px;
    background: url(../img/explaneBoard_hover.png) no-repeat;
    bottom:75px;
    left:97px;
    z-index:6;
    color: #fff;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse:hover a,.xx-tab ul.xx_side_nav > li.xx-bx-analyse a:hover{
    color: #fff;
}
.xx-tab ul.xx_side_nav > li.xx-bx-analyse:hover span{
    display: inline-block;
    width:18px;
    height: 18px;
    background: url(../img/icon_explane_02.png) no-repeat;
    position: relative;
    top:3px;
    margin-left: -38px;
}
.xx-tab ul.xx_side_nav > li.xx-bx-more {
    /*width: 205px;*/
    /*height: 61px;*/
    /*line-height: 61px;*/
    /*margin-top: 14px;*/
    font-family: "微软雅黑";
    font-size: 12px;
    color: #926944;
    letter-spacing: 0px;
    bottom: 20px;
    left: 140px;
    position: absolute;
}

/*----继续按钮---*/
.xx-continue {
    /*background: #cfeecc;*/
    /*border: 1px solid #6acea7;*/
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 179px;
    height: 90px;
    padding: 4px;
    cursor: pointer;
    z-index: 999;
}

.xx-continue-inner {
    background: #26b987;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    width: 174px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    /*letter-spacing: 20px;*/
    cursor: pointer;
    transition: all .4s;

}

.xx-continue-inner:hover, .xx-continue-inner:focus {
    background: #2b9074;
}

/*layer弹框修改*/
.layui-layer-page {
    background-image: url("../img/board_02.png");
    width: 420px;
    height: 259px;
    background-color: transparent !important;
}

.layui-layer-btn {
    text-align: center !important;
}

.layui-layer-btn a {
    background: #26b987 !important;
    border-radius: 30px !important;
    width: 120px !important;
    height: 48px !important;
    line-height: 48px !important;
    color: #FFFFFF !important;
}

.layui-layer-btn a.layui-layer-btn1 {
    background: #9cdf97 !important;
    border-radius: 30px !important;
    width: 120px !important;
    height: 48px !important;
    line-height: 48px !important;
}

.layui-layer-ico {
    background-image: url("../img/icon_delete.png") !important;
    width: 48px !important;
    height: 48px !important;
    background-position: 0px 0px !important;
}

.layui-layer-page .layui-layer-content {
    overflow: visible !important;
    line-height: 169px !important;
    text-align: center !important;
    font-family: MicrosoftYaHei !important;
    font-size: 18px !important;
    color: #926944 !important;
}

.xx-logo-confirm {
    background-image: url("../img/warning.png");
    width: 73px;
    height: 56px;
    position: absolute;
    top: -40px;
    z-index: 999;
    left: -40px;
}

/*学情报告样式*/
/*掌握情况*/
.xx-report-module1 {
    background: #ffffff;
    border: 1px solid #6acea7;
    border-radius: 6px;
    height: 218px;
    width:93%;
    margin:100px auto 0;
    /*margin: 100px 60px 0px 60px;*/
}

.xx-report-module1 .xx-report-init {
    float: left;
}

.xx-report-module1 .xx-report-init.xx-report-module1-chart {
    width: 220px;
    height: 220px;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend h3 {
    margin-top: 56px;
    font-size: 18px;
    color: #5f5f5f;
    text-align: center;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend {
    background: rgba(79, 203, 235, 0.25);
    border-radius: 8px;
    width: 181px;
    height: 16px;
    font-size: 12px;
    color: #5f5f5f;
    line-height: 16px;
    position: relative;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend i {
    background: #4fcceb;
    border: 2px solid #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend span {
    margin-left: 20px;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend.learned {
    background: rgba(254, 223, 0, 0.25);
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend.learned i {
    background: #fedf00;
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend.unlearned {
    background: rgba(250, 73, 74, 0.25);
}

.xx-report-module1 .xx-report-init.xx-report-module1-legend p.xx-legend.unlearned i {
    background: #fa494b;
}

.xx-report-module1 .xx-report-init.xx-report-module1-text {
    float: right;
    margin-right: 30px;
}

.xx-report-module1 .xx-report-init.xx-report-module1-text > span {
    /*float: left;*/
    display: block;
    margin-top: 20px;
}

.xx-report-module1 .xx-report-init.xx-report-module1-text > img {
    float: left;
    margin-top: 20px;
}

.xx-report-module2 {
    background: #ffffff;
    border: 1px solid #6acea7;
    border-radius: 6px;
    height: 398px;
    /*margin: 20px 60px 0px 60px;*/
    width:93%;
    margin: 20px auto 0;
}

.xx-report-module3 {
    background: #ffffff;
    border: 1px solid #6acea7;
    border-radius: 6px;
    margin: 20px 60px 0px 60px;
    height: 66px;
    position: relative;
}
.xx-drama-poster{
    overflow: hidden;
    width: 87%;
    position: relative;
    float: left;
}
.xx-report-module3 .xx-drama-poster ul{
    overflow: hidden;
    width: 10000px;
    padding-top: 15px;
    padding-left: 10px;
}
.xx-report-module3 .xx-drama-poster ul>li.show-poster-3{
    background:#ffffff;
    border:1px solid #5bd37a;
    width:37px;
    height:37px;
    border-radius:100%;
    font-family:"微软雅黑";
    font-size:24px;
    color:#5bd37a;
    line-height: 37px;
    list-style: none;
    text-align: center;
    margin-left: 15px;
}
.xx-report-module3 .xx-drama-slide{
    float: left;
    width: 100px;
}
.xx-drama-slide li {
    list-style: none;
}

.xx-drama-slide li.prev a{
    display: block;
    background-image: url("../img/icon_preOne.png");
    height: 30px;
    width: 16px;
    float: left;
}

.xx-drama-slide li.next a{
    display: block;
    background-image: url("../img/icon_nextOne.png");
    height: 30px;
    width: 16px;
    float: left;
}

/*.xx-drama-slide li.prev a {*/
/*background-position: 0 -122px*/
/*}*/

/*.xx-drama-slide li.prev a:hover {*/
/*background-position: 0 -147px*/
/*}*/

/*.xx-drama-slide li.next a {*/
/*background-position: -13px -122px*/
/*}*/

/*.xx-drama-slide li.next a:hover {*/
/*background-position: -13px -147px*/
/*}*/
.xx-report-module4{
    background:#ffffff;
    border:1px solid #6acea7;
    border-radius:6px;
    min-width:1244px;
    margin: 20px 60px 0px 60px;
    height:775px;
}

.xx-container.xx-check-container{
    background: #ffffff;
    border: 1px solid #6acea7;
    border-radius: 6px;
    min-height: 426px;
    margin: 60px;
    max-width: none;
    padding: 60px;
    position: relative;
}
/*答题反馈样式*/
.answer-right{
    background: url("../img/right.gif");
    width: 240px;
    height: 240px;
}
.answer-wrong{
    background: url("../img/tryagain.gif");
    width: 240px;
    height: 240px;
}
.answer-wrong-next{
    background: url("../img/wrong.gif");
    width: 240px;
    height: 240px;
}
/*学情报告页的样式*/
*{list-style: none;}
#studyReport .xx-content{
    border-radius: 6px;
    width:93%;
    margin:20px auto;
}
#studyReport .xx-title h1{
    font-family:MicrosoftYaHei;
    font-size:20px;
    color:#5f5f5f;
}
#studyReport .container .xx-frame{
    border:1px solid #6acea7;
}
#studyReport #xx-report{min-height: 218px; height:auto!important; height:218px;position: relative;}
#studyReport #xx-list li {
    background:#ffffff;
    border:1px solid #5bd37a;
    width:39px;
    height:39px;
    border-radius:100%;
    text-align: center;
    margin:14px 14px 14px 20px;
    /*float: left;*/
    display: inline-block;
    line-height: 39px;
    position: relative;
}
#studyReport .xx-list-question{
    width:120px;
    heigth:24px;
    background:#51d6a3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
}
#studyReport .subject{
    position: relative;
}
#studyReport .subjects-1{
    position: relative;
    /*min-height: 280px;*/
}
#studyReport .subject .xx-list-question {
    margin-top: 40px;
}
#studyReport .subjects .xx-list-question{
    position: absolute;
    top:150px;
    left:0;
}
#studyReport #xx-top-analysis{
    border-top: 1px solid #5bd37a;
}
#studyReport .xx-containers{
    width:95%;
    margin:20px auto;
}
#studyReport #xx-top-analysis .am-u-lg-12{
    margin-top: 20px;
}
#studyReport #xx-top-analysis .am-u-lg-12 span{
    font-weight: bold;
    font-family:MicrosoftYaHei;
    color:#26b987;
    font-size: 18px;
    letter-spacing:0px;
}
#studyReport .xx-continue{
    width:181px;
    height:90px;
    border:1px dashed #6acea7;
    border-top-left-radius: 46px;
    border-bottom-left-radius:46px ;
    position: fixed;
    right:0;
    bottom:20px;
    line-height: 80px;
    cursor: pointer;
}
#studyReport .xx-next{
    width:174px;
    height:80px;
    font-family:MicrosoftYaHei-Bold;
    font-size:20px;
    color:#ffffff;
    text-align:center;
    background-color: #26b987;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    position: absolute;
    right:0;
    top:5px;
}
#studyReport .xx-feedback{
    position: fixed;
    left:0;
    bottom:20px;
    background:#cfeecc;
    border:1px solid #6acea7;
    border-top-right-radius: 37px;
    border-bottom-right-radius:37px ;
    width:51px;
    height:36px;
    line-height: 36px;
    font-family:MicrosoftYaHei;
    font-size:16px;
    color:#26b987;
    letter-spacing:0px;
    text-align:center;
    cursor: pointer;
}
#studyReport .report-chart{
    float: left;
}
#studyReport #master{
    float: right;
}
#studyReport .xx-master{
    /*width:50%;*/
    text-align: center;
    /*position: absolute;*/
    /*right:0;*/
    margin-top: 20px;
}
#studyReport #master h2{
    font-family:MicrosoftYaHei;
    font-size:16px;
    color:#5f5f5f;
}
#studyReport #main{
    width:220px;
    height:220px;
    float: left;
}

#studyReport .allKnowledge{
    width:190px;
    margin-top: 50px;
    margin-left: 200px;
}
.allKnowledge h3{
    font-family:MicrosoftYaHei;
    font-size:18px;
    color:#5f5f5f;
}
#studyReport .allKnowledge p{
    width:181px;
    height:16px;
    /*border-radius: 16px;*/
    font-family:MicrosoftYaHei;
    font-size:12px;
    color:#5f5f5f;
    line-height:16px;
    text-align:center;
    position: relative;

    /*border-bottom:16px solid #fff;*/
}
#studyReport .allKnowledge p i{
    display: inline-block;
    width:20px;
    height:20px;
    background-color: #fff;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    position: absolute;
    left:0;
    top:-2px;
    z-index: 3;
}
#studyReport .allKnowledge p b{
    width:14px;
    height:14px;
    display: inline-block;
    border-radius: 14px;
    position: absolute;
    left:3px;
    top:1px;
    z-index: 4;
}
#studyReport .allKnowledge p b.already{
    background:#4fcceb;
}
#studyReport .allKnowledge p b.nothing{
    background: #fa494b;
}
#studyReport .allKnowledge p:first-child{
    background:rgba(79,203,235,0.25);

}
#studyReport .allKnowledge p:last-child{
    background:rgba(250,73,74,0.25);
}

#studyReport #xx-list ul{
    /*height:60px;*/
    display: block;
    padding: 0;
    margin: 0;
    /*position: absolute;*/
    left: 0;
    top: 0;
}
#studyReport .knoledgement{
    width:100%;
    border:1px solid #6acea7;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    min-height: 220px;
}
#studyReport #myscrollbox{
    display: block;
    float: left;
    position: absolute;
    left:0;
    width:10000000px;
}
#studyReport #wrapper{
    display: block;
    width:94%;
    height:80px;
    overflow: hidden;
    position: relative;
}
#studyReport #xx-list ul li.error{
    background: #fff;
    border:1px solid #fa494b;
}
#studyReport #xx-list ul li.error.cur{
    background: #c75e62;
    border:none;
}
#studyReport #xx-list ul li a{
    font-family:"微软雅黑";
    font-size: 24px;
}
#studyReport #xx-list ul li.error.cur a{
    color: #fff;
}
#studyReport #xx-list ul li.error a{
    color:#fa494b;
}
#studyReport #xx-list ul li.right{
    background: #fff;
    border:1px solid #6acea7;
}
#studyReport #xx-list ul li.right.cur{
    background:#6acea7 ;
}
#studyReport #xx-list ul li.right.cur a{
    color: #fff;
}
#studyReport #xx-list ul li.right a{
    color: #6acea7;
}
#studyReport #xx-list .panes{
    border:1px solid #6acea7;
    border-radius: 6px;
    margin-top: 15px;
    position: relative;
    background-color: #fff;
}
#studyReport .xx-containers .question-banner{
    border-bottom: 1px solid #6acea7;
    padding-bottom: 20px;
}
#studyReport .pane{
    border-top:0;
    /*min-height:100px;*/
    background-color:#fff;
    display:none;
}
#studyReport .pane .am-u-lg-12>p{padding:15px 15px 0 10px;display: inline-block}
.pane h4{padding:15px 15px 0 10px;font-size:14px;font-weight:bold;}
#studyReport #xx-list li span.native{
    display: block;
    width:48px;
    height:16px;
    background: url(../img/xx.png) no-repeat;
    position: absolute;
    bottom: -51px;
    left:-4px;
}

#studyReport .knowledge-btn{
    position: absolute;
    width:50px;
    right:20px;
    top:22px;
}
#studyReport .knowledge-btn a{
    color: #6acea7;
    display: block;
    width:16px;
    height:24px;
}
#studyReport .knowledge-btn a:first-child.cur{
    background: url('../img/left-1.png') no-repeat;
    cursor: default;
}
#studyReport .knowledge-btn a:first-child{
    background: url('../img/left.png') no-repeat;
}
#studyReport .knowledge-btn a:last-child.cur{
    background: url('../img/right-1.png') no-repeat;
    cursor: default;
}
#studyReport .knowledge-btn a:last-child{
    background: url('../img/right.png') no-repeat;
}
#studyReport .knowledge-btn a.prev{
    float:left;
    /*background: url(../img/icon_preOne.png) no-repeat;*/
}
#studyReport .knowledge-btn a.next{
    float:right;
    /*background: url(../img/icon_nextOne.png) no-repeat;*/
}
#studyReport .panes .sction{
    display: block;
    width: 48px;
    height: 16px;
    background: url(../img/xx.png) no-repeat;
    position: absolute;
    top:-10px;
    left:20px;
}
.page-over .am-modal-dialog{
    width:600px !important;
    height:600px !important;
    background: url(../img/special.png) no-repeat;;
}
.page-over .am-modal-bd{
    position: absolute;
    bottom:200px;
    left:50%;
    margin-left: -100px;
}
.page-over .am-modal-bd a{
    display: block;
    font-size: 18px;
    color: #fff;
    font-family:MicrosoftYaHei;
    cursor: pointer;
    border:1px solid #ffffff;
    border-radius:24px;
    width:198px;
    height:46px;
    line-height: 46px;
}
.page-over .am-modal-bd a:hover{
    background:rgba(255,255,255,0.25);
}
.page-over .am-modal-hd{
    position: absolute;
    top: 200px;
    left:50%;
    margin-left: -60px;
}
.page-over .am-modal-hd h3{
    font-family:MicrosoftYaHei-Bold;
    font-size:36px;
    color:#ffffff;
    text-align:center;
}
.page-over .am-modal-hd span{
    font-family:MicrosoftYaHei;
    font-size:20px;
    color:#ffffff;
    letter-spacing:0px;
    text-align:center;
}

/*报错弹框的样式*/
.findwrongs .am-modal-dialog{
    background: url(../img/wrongboard.png) no-repeat;
}
.findwrongs .am-modal-dialog .am-modal-hd>a{
    display: block;
    width:48px;
    height: 48px;
    position: absolute;
    background: url(../img/icon_delete.png) no-repeat;
    right:8px;
    top:-15px;
}
.findwrongs .am-modal-dialog .am-modal-hd>span{
    display: block;
    position: absolute;
    width:224px;
    height:70px;
    background: url(../img/findwrong.png) no-repeat;
    left:50%;
    margin-left: -100px;
    top:-45px;
}
.findwrongs .am-modal-dialog .am-modal-bd{
    background:#f9ebd6;
    border:1px solid #b7906e;
    border-radius:12px;
    width:658px;
    height:338px;
    margin:30px auto;
    overflow-y: scroll;
}
.findwrongs .am-modal-dialog .am-modal-bd .wrong-type{
    width:100%;
    text-align: left;
    margin:20px auto;
    font-family:MicrosoftYaHei;
    font-size:18px;
    color:#926944;
}
.findwrongs .am-modal-dialog .am-modal-bd .wrong-type .radio-check>.regular-radio{
    display: none;
}

/*滚动条的样式*/
.findwrongs .am-modal-dialog .am-modal-bd::-webkit-scrollbar {
    width: 8px;
}
.findwrongs .am-modal-dialog .am-modal-bd::-webkit-scrollbar-track {
    background-color:transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.findwrongs .am-modal-dialog .am-modal-bd::-webkit-scrollbar-thumb {
    background-color:#e6cfaf;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.wrong-type textarea::-webkit-scrollbar {
    width: 8px;
}
.wrong-type textarea::-webkit-scrollbar-track {
    background-color:transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}
.wrong-type textarea::-webkit-scrollbar-thumb {
    background-color:#e6cfaf;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
label {
    display: inline;
}
.regular-checkbox {
    display: none;
}
/*.regular-checkbox + label {*/
/*background-color: #fafafa;*/
/*border: 1px solid #cacece;*/
/*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/
/*padding: 9px;*/
/*border-radius: 3px;*/
/*display: inline-block;*/
/*position: relative;*/
/*}*/
.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background:#b7906e;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);*/
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}
.big-radio + label {
    width:20px;
    height:20px;
    background:#ffffff;
    border:2px solid #b7906e;
    border-radius:100%;
    position: relative;
    top:10px;
}
.radio-check span{
    margin-left: 14px;
    font-size: 14px;
}
.big-radio:checked + label:after {
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
}
.wrong-type textarea{
    background:#fbf6ee;
    border:1px solid #e6cfaf;
    border-radius:6px;
    width:599px;
    height:112px;
    margin-top: 30px;
}
.wrong-type .add-option{
    width:48px;
    height:48px;
    background: url(../img/addpic.png) no-repeat;
    float: left;
    cursor: pointer;
}
#option-page{
    margin-top: 15px;
    position: relative;
}
#option-page p{
    position: absolute;
    bottom:-20px;
    left:75px;
    font-family:MicrosoftYaHei;
    font-size:12px;
    color:#b7906e;
    letter-spacing:0px;
    /*margin-left: 8px;*/
}
.findwrongs #wrong-time .wrong-btn{
    /*background:#26b987;*/
    border-radius:30px;
    width:120px;
    height:48px;
    line-height: 48px;
    display: inline-block;
    font-family:MicrosoftYaHei-Bold;
    font-size:20px;
    color:#ffffff;
    letter-spacing:0px;
    text-align:center;
}
.findwrongs .am-modal-dialog #wrong-time{
    margin-top: -10px;
}
.findwrongs #wrong-time #sure{
    background:#26b987;
    position: relative;
    left:-10px;
    border:none;
}
.findwrongs #wrong-time #cancel{
    background:#9cdf97;
    position: relative;
    left:10px;
}
.ajax-file-upload{
    opacity: 0 !important;
    cursor: pointer !important;
}
.ajax-file-upload-statusbar:first-child{
    margin-top: 60px !important;
}
.layui-layer{
    background-color: transparent !important;
}

.gif{
    position: fixed;
    width:100%;
    height:100%;
    background:#333 ;
    opacity: 0.5;
    top:0;
    left:0;
    z-index:100000;
}

.gif>.gif-img{
    width: 240px;
    height:240px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -120px;
    margin-top: -120px;

}
.am-popover{
    border:none !important;
    background: rgba(255,255,255,.3) !important;
}
.am-popover-inner{
    background: rgba(51,51,51,.6);
}
.am-popover-caret{
}